<!DOCTYPE html>
<html>
<head>
  <title>SpaceBlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="../../../app/assets/stylesheets/custom.css">
</head>
<body>
  
  <nav class="navbar" role="navigation" aria-label="main-navigation">
    <div id="navbarExample" class="navbr-menu">
      <div class="navbar-start">
        <a class="navbar-item center" href="/"><b>SpaceBlog</b></a>
        </div>
        <div class="navbar-item">
          <a class="text" href=" /posts/new"<b>Add New Post</b></a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <%- if current_user -%>
            <a class="button btn-primary">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "button" %>
            </a>
            <%- else -%>
            <%=link_to 'Sign Up', new_user_registration_path, class: "button"  %> <%= link_to 'Sign In', new_user_session_path, class: "button"   %> <%- end -%> </p>
          </div>
        </div>
      </div>
    </div>  
  </nav>
  <%- flash.each do |key, value| -%>
  <div class="flash flash-<%= key %>">
    <%= value %>
  </div>
  <%- end -%>
  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
  <%= javascript_tag do %>
  window.railsEnv = '<%= Rails.env %>'
  <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>